# Eclipse
.metadata/
.settings/
.project
.classpath

# Maven
target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Java
*.class

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Application secrets
application-local.properties